* {
    list-style: none;

    .navbar-main {
        position: sticky;
        height: 5vh;
        width: 100vw;

        .navbar-nav {
            margin: 0;
            padding: 0;

            color: black;
            
            display: flex;
            justify-content: space-evenly;
            
        
            .navbar-item {
                cursor: pointer;
                flex-grow: 1;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 42px;  
            }

            .navbar-item:hover {
                background-color: green;
            }
        }
    }
}

