.homepage {
  background-image: url('./images/uwaterloo.jpg');
  background-size: cover;
  background-position: center;

  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    color: white;
  }
  
  .searchbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map {
    width: 60vw;
    height: 30vw;
  }
}
