.homepage {
  background-image: url('./images/uwaterloo.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 1px;

  h1 {
    text-align: center;
    color: white;
  }
  
  .searchbar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
